<header class="header">
    <section class="header__user">
        <div class="user">
            <h3 class="user__title">Hallo <span class="user__title-name"></span></h3>
            <div class="user__credit">
                <div class="user__credit-text">Dein Guthaben:</div>
                <div class="user__credit-number"></div>
            </div>
            <div class="user__buyone">
                <button class="user__buyone-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Hol dir eine neue Karte</span>
                </button>
            </div>
            <div class="user__collect">
                <button class="user__collect-btn">
                    <i class="fa-solid fa-coins"></i>
                    <span>Lass dir dein Guthaben auszahlen</span>
                </button>
            </div>
        </div>
    </section>
</header>