<header class="header">
    <section class="header__user">
        <div class="user">
            <h2 class="user__title-welcome">Welcome
                <span class="user__title-welcome-name"></span>
            </h2>
            <div class="user__credit">
                <div class="user__credit-text">Dein Guthaben: 
                    <span class="user__credit-number"></span>
                </div>
            </div>
            <div class="user__buyone">
                <button class="user__buyone-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Hol dir eine neue Karte</span>
                </button>
            </div>
            <div class="user__payout">
                <button class="user__payout-btn">
                    <i class="fa-solid fa-coins"></i>
                    <span>Guthaben auszahlen</span>
                </button>
            </div>
        </div>
    </section>
</header>