<!-- navs = navSticky -->

<nav class="navs">
    <div class="navs__links">
        <a href="" class="navs__links-item">Über Swisslos</a>
        <a href="" class="navs__links-item">Guter Zweck</a>
        <a href="" class="navs__links-item">Spielerschutz</a>
        <a href="" class="navs__links-item">Kontakt</a>
    </div>
</nav>

<!-- nave = navExtended -->

<nav class="nave">
    <div class="nave__aboutswisslos">
        <h3 class="nave__aboutswisslos-title">Über Swisslos</h3>
        <ul class="nave__aboutswisslos-list">
            <li class="nave__aboutswisslos-list-item">Auftrag</li>
            <li class="nave__aboutswisslos-list-item">Rechtlicher Rahmen</li>
            <li class="nave__aboutswisslos-list-item">Porträt</li>
            <li class="nave__aboutswisslos-list-item">Publikationen</li>
            <li class="nave__aboutswisslos-list-item">Jobs</li>
        </ul>
    </div>
    <div class="nave__goodpurpose">
        <h3 class="nave__goodporpose-title">Guter Zweck</h3>
        <ul class="nave__goodporpose-list">
            <li class="nave__goodporpose-list-item">Verwendung der Lotterieerträge</li>
            <li class="nave__goodporpose-list-item">Kantonale Fonds</li>
            <li class="nave__good-porpose-list-item">Unterstützte Projekte</li>
        </ul>
    </div>
    <div class="nave__gamerprotection">
        <h3 class="nave__gamerprotection-title">Spielerschutz</h3>
        <ul class="nave__gamerprotection-list">
            <li class="nave__gamerprotection-list-item">Für Spieler & Angehörige</li>
            <li class="nave__gamerprotection-list-item">Für sozial-politisch Interessierte</li>
        </ul>
    </div>
    <div class="nave__contact">
        <h3 class="nave__contact-title">Kontakt</h3>
        <div class="contact__contact-adress"></div>
    </div>
    <div class="nave__language">
    </div>

    <div class="nave__media">
        <h3 class="nave__media-title">Medien</h3>
        <ul class="nave__media-list">
            <li class="nave__media-list-item">Medienmitteilung</li>
            <li class="nave__media-list-item">Bilder, Filme & Logos</li>
            <li class="nave__media-list-item">Medienkontakt</li>
        </ul>
    </div>
    <div class="nave__games">
        <h3 class="nave__games-title">Spiele</h3>
        <ul class="nave__games-list">
            <li class="nave__games-list-item">subito</li>
            <li class="nave__games-list-item">PMU</li>
            <li class="nave__games-list-item">Lose</li>
        </ul>
    </div>
    <div class="nave__winners">
        <h3 class="nave__winners-title">Gewinner</h3>
        <ul class="nave__winners-list">
            <li class="nave__winners-list-item">Zahl der Gewinner</li>
            <li class="nave__winners-list-item">Rekorde</li>
            <li class="nave__winners-list-item">Gewinnbroschüre</li>
            <li class="nave__winners-list-item">Gewinnspiele</li>
        </ul>
    </div>
    <div class="nave__stayinformed">
        <h3 class="nave__stayinformed-title">Informiert bleiben</h3>
        <ul class="nave__stayinformed-list">
            <li class="nave__stayinformed-list-item">facebook</li>
            <li class="nave__stayinformed-list-item">twitter</li>
            <li class="nave__stayinformed-list-item">youtube</li>
            <li class="nave__stayinformed-list-item">instagram</li>
        </ul>
        <h4 class="nave__stayinformed-nl-title">Newsletter anmelden</h4>

    </div>
</nav>
