@import "./fonts";
@import "./colors";
@import "./mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    background-color: $light;
    color: black;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
};

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 auto 15px;

    background-color: white;
    border-block-end: 4px solid;
    border-image-source: $gradient;
    border-image-slice: 1;
    
    @include media("tablet") {

    };

    @include media("desktop") {
        height: 100px;
    };
};


.wrapper {
    width: 100%;
    
    padding-top: 15px;
    padding-bottom: 15px;
};