@import "./fonts";
@import "./colors";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

main {
    width: 100%;
    height: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $bg-color-white;
    
    font-family: 'Roboto', sans-serif;
    color: white;
}