.win-dialog {
    background: white;
    padding: 30px;
    position: fixed;
    top: 20%;
    margin: 0 auto;

    width: 80%;

    border: 1px solid $bg-color-lightgray;
    background: linear-gradient(60deg, $green, $purple, $orange, $yellow);

    color: $bg-color-lightgray;
    
    @include media("tablet") {
        width: 60%;
    };
    
    @include media("desktop") {
        width: 40%;
    };  


    &::backdrop {
        background: rgb(0 0 0 / .6);
    }

    &__title-loss,
    &__title-win {
        @include fontSize(30px, 900);
        margin-bottom: 30px;
    };

    &__giphy-loss,
    &__giphy-win {
        border: 1px solid $bg-color-lightgray;
    };

    &__text-loss,
    &__text-win {
        margin: 30px 0;

        @include fontSize(20px, 400);

    };

    &__btn-loss,
    &__btn-win {
        margin: 0 auto;
        @include btn(200px);
    }

};