

$bg-color-main: #e0e0e0;
$bg-color-card: #2F496E;
$bg-color-table: #000000;
$bg-color-numbers: #ED8C72;

$light: #e8e8e8;
$red: #B81F3C;

$gradient: linear-gradient(60deg, $bg-color-card, $bg-color-numbers);