.win-dialog,
.triple-win {
    width: 100%;
    top: 5%;
    margin: 0 auto;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid $light;
    
    color: $light;
    
    @include media("tablet") {
        top: 20%;
        width: 65%;
    };

    @include media("tablet-landscape") {
        top: 10%;  
    };
    
    @include media("desktop") {
        top: 25%;
    };  

    &::backdrop {
        background: rgb(0 0 0 / .8);
    };

    &__title {
        margin-bottom: 30px;

        @include fontSize(30px, 900);
    };

    &__emojis {
        width: 100%;

        display: flex;
        justify-content: space-evenly;

        @include fontSize(30px, 900);

        @include media("tablet") {
            @include fontSize(50px, 900);
        }; 
    };

    &__text {
        margin: 30px 0;

        @include fontSize(20px, 400);
    };

    &__btn {
        @include btn(100%);

        @include media("desktop") {
            @include btn(50%);
        }; 
    };
};

.win-dialog {
    &--win {
        background-image: linear-gradient(90deg, #2A5C5E, #2EC506);
    };

    &--loss {
        background-image: linear-gradient(90deg, #A80E3C, #FF0000);
    };
};

.triple-win {
    padding: 100px;

    background-color: #2EC506;
    background-image: url("./../images/triple-win.jpg");
    background-size: cover;

    color: black;
    
    &__hack {
        position: relative;
        isolation: isolate;

        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        border: 2px solid $light;
    };    

    &__hack::after {
        position: absolute;
        content: "";
        z-index: -1;
        inset: 0;

        background-color: $light;
        opacity: .6;
    };

    &__text {
        @include fontSize(20px, 900);
    };
};