// basic styling dialogs

.new-user,
.new-card,
.pay-out,
.top-up-credit {
    width: 100%;
    height: max-content;
    top: 5%;
    margin: 0 auto;
    padding: 10px 15px;
    
    background-image: $gradient;
    color: $light;

    border: 1px solid $light;
    
    @include media("tablet") {
        top: 20%;
        width: 65%;
        padding: 30px;
    };

    @include media("tablet-landscape") {
        top: 10%;  
    };
    
    @include media("desktop") {
        top: 25%;
        width: 40%;
    };  

    &::backdrop {
        background: rgb(0 0 0 / .8);
    };

    &__emojis {
        width: 100%;
        margin-bottom: 30px;

        @include fontSize(30px, 900);
        color: black;

        @include media("tablet") {
            @include fontSize(50px, 900);
        };
    };

    &__title {
        margin-bottom: 30px;

        display: flex;
        justify-content: center;

        @include fontSize(30px, 900);
    };

    &__btn {
        margin: 0 auto;

        @include btn(200px);
    };
};

.new-user {
    &__emojis {
        display: flex;
        justify-content: center;
    };

    &__price {
        margin-top: 30px;
        padding: 10px;

        text-align: center;

        border: 5px solid $light;

        @include fontSize(1.2rem, 900);

        @include media("tablet") {
          line-height: 30px;
        };

        h4 {
            margin-bottom: 5px;

            background-color: $light;

            color: $red;
        };
    };
};

.new-card,
.pay-out,
.top-up-credit {
    &__emojis {
        display: flex;
        justify-content: space-evenly;

        color: $light;
    };

    &__text {
        margin-bottom: 30px;

        @include fontSize(20px, 400);
    };

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include media("desktop") {
            flex-direction: row;
            justify-content: space-around;
        };  
        
        &-yes,
        &-no,
        &-return,
        &-donate {
            margin-top: 10px;

            @include btn(100%);
            display: flex;
            justify-content: center;

            @include media("desktop") {
                @include btn(45%);
            };
        };
    };
};

// details new-user dialog

.yourdetails {
    width: 100%;
    
    @include fontSize(20px, 400);
    color: $light;
    
    &__yourname,
    &__yourcredit {
        margin-bottom: 30px;

        display: flex;
        flex-direction: column;

        @include media("desktop") {
            flex-direction: row;
        }; 

        &-label {
            width: 100%;

            display: flex;
            align-items: center;

            @include media("desktop") {
                width: 50%;
            };
        };

        &-input {
            width: 100%;
            height: 50px;
            margin-top: 5px;
            padding-left: 20px;

            background-color: white;

            border: 1px solid $light;
            border-radius: 5px;

            @include fontSize(20px, 400);
            
            @include media("desktop") {
                width: 50%;
            };
            
            &::placeholder {
                color: white;
            };

            &-select {
                width: 100%;
                height: 100%;
                padding-left: 20px;

                background-color: white;
                outline: none;

                border: none;

                font-size: 1em;
            };
        };
    };
};

.yourdetails__yourcredit-input {
    position: relative;

    padding-left: 0px;
};

.yourdetails__yourcredit-arrow {
    position: absolute;
    pointer-events: none;

    height: 100%;
    width: 40px;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    color: black;
};

// details top-up-credit dialog

.add-money {
    width: 100%;
    
    @include fontSize(20px, 400);
    color: $light;

    &__new-credit {
        display: flex;
        flex-direction: column;

        margin-bottom: 30px;

        @include media("tablet") {
            flex-direction: row;
        }; 

        &-label,
        &-input {
            display: block;
            width: 100%;

            @include media("tablet") {
                width: 50%;
            };
        };

        &-label {
            display: flex;
            align-items: center;
        };

        &-input {
            position: relative;

            height: 50px;
            margin-top: 5px;

            border: 1px solid $light;
            border-radius: 5px;

            @include fontSize(20px, 400);

            &::placeholder {
                color: white;
            };

            &-select {
                width: 100%;
                height: 100%;
                padding-left: 20px;

                background-color: white;
                outline: none;

                border: none;

                font-size: 1em;
            };
        };
    };

    &__btn {
        margin: 15px auto 0px auto;
        @include btn(100%);

        @include media("desktop") {
            @include btn(50%);
        };
    };
};

.add-money__new-credit-arrow {
    position: absolute;
    pointer-events: none;

    height: 100%;
    width: 40px;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    
    color: black;
};
