// font for win4life title
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:ital,wght@0,300;0,500;1,300;1,500&display=swap');

// font for text
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin fontSize($size, $weight) {
    font-size: $size;
    font-weight: $weight;

    @include media("tablet") {
        font-size: $size * 1.2;
        font-weight: $weight;

    };

    @include media("desktop") {
        font-size: $size * 1.4;
        font-weight: $weight;
    };
};
