@import "./fonts";

.gambling {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(42, 92, 94);
    border: 1px solid black;
    border-radius: 25px;

    @include media("tablet") {
        width: 80%;
    };

    @include media("desktop") {
        width: 80%;
    };
    
    &__heading {
        margin-bottom: 50px;
        
        font-family: 'Bungee Spice', sans-serif;
        font-size: 40px;
        
        @include media("tablet") {
            font-size: 60px;
            align-self: flex-end;
        };
        @include media("desktop") {
            font-size: 80px;
        };
        
    };
    &__table {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    };
};

.win-section {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;

    background-color: #C8C6C6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "header header header header"
    "table table table table";

    @include border(3px);

    @include media("tablet") {
        width: 67%;
        height: 200px;
    };

    @include media("desktop") {
        width: 50%;
        height: 200px;
    };

    &__title {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;

        @include titleSize(1.5em, 700); 
        
        @include media("tablet") {
            @include titleSize(2em, 700);
        };

        @include media("desktop") {
            @include titleSize(2.5em, 700);
        };   
    };

    &__table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
        grid-area: table;
        background-color: $bg-color-black;
        grid-gap: 1px;
    };
    
    &__number {
        position: relative;
        background-color: white;
        
        &-front,
        &-back {
            height: 100%;
            width: 100%;

            position: absolute;
        }
        
        &-front {
            z-index: 10;
            background-color: #C8C6C6;

            display: flex;
            justify-content: center;
            align-items: center;

            @include fontSize(40px, 900);

            @include media("tablet") {
                @include fontSize(50px, 900);    
            };

            @include media("desktop") {
                @include fontSize(50px, 900);  
            };  
        };

        &-back {
            z-index: 5;
            padding: 5px;
            background-color: #C8C6C6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            &-int {
                @include fontSize(2em, 700);    
            };
            
            &-string {
                display: none;

                @include media("tablet") {
                    display: block;
                    @include fontSize(1em, 400);    
                };

                @include media("desktop") {
                    @include fontSize(1em, 400);  
                };  
            };  
        };
    };
};
  
  
.game-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    background-color: #C8C6C6;
    
    @include border(3px);

    @include media("tablet") {
        flex-direction: column-reverse;    
    };

    @include media("desktop") {
        flex-direction: row;  
    };  
    
    &__info {
        width: 100%;
        background-color: green($color: #000000);
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);


        grid-template-areas:
        "yournumbers"
        "lotnumber"
        "qrcode"
        ;


        @include media("tablet") {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            grid-template-areas:
            "yournumbers yournumbers"
            "lotnumber qrcode"
            ;
        };
    
        @include media("desktop") {
            width: 20%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            grid-template-areas:
            "lotnumber yournumbers"
            "qrcode yournumbers"; 
        };  
    
        
        &-lotnumber {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: lotnumber;

            background-color: red;
        }
    
        &-qrcode {
            grid-area: qrcode;

            background-color: orange;
            width: 100%;

            &-pic {
                width: 100%;
            }
        };
    
        &-title {
            grid-area: yournumbers;

            display: flex;
            justify-content: center;
            align-items: center;

            
            @include titleSize(1.5em, 700); 
            
            @include media("tablet") {
                @include titleSize(2em, 700);
            };
            
            @include media("desktop") {
                @include titleSize(2.5em, 700);

                writing-mode: vertical-lr;
                transform: rotate(-180deg);
            };   
        };
    };

    &__table {
        width: 100%;
        background-color: $bg-color-black;
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(4, minmax(100px, 1fr));
        gap: 1px;

        @include media("tablet") {
            grid-template-columns: repeat(4, minmax(175px, 1fr));
            grid-template-rows: repeat(3, minmax(175px, 1fr));   
        };
    
        @include media("desktop") {
            grid-template-columns: repeat(6, minmax(200px, 1fr));
            grid-template-rows: repeat(2, minmax(200px, 1fr)); 
        };    
    }


    &__item {
        position: relative;
        
        &-front,
        &-back {
            position: absolute;
            height: 100%;
            width: 100%;
        };
        
        &-front {
            z-index: 10;
            background-color: #C8C6C6;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            @include fontSize(40px, 900);

            @include media("tablet") {
                @include fontSize(60px, 900);    
            };

            @include media("desktop") {
                @include fontSize(60px, 900);  
            };  
        };
        
        &-back {
            z-index: 5;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-color: #C8C6C6;


            &__number-int {
                @include fontSize(2em, 700);  
            };
        
            &__number-string,
            &__win-string {
                display: none;

                @include media("tablet") {
                    display: block;
                    @include fontSize(1em, 400);    
                };

                @include media("desktop") {
                    display: block;
                    @include fontSize(1em, 400);  
                };  
            };
        
            &__win-int {
                @include fontSize(1.5em, 400);

                @include media("tablet") {
                    @include fontSize(2em, 400);
                };

                @include media("desktop") {
                    @include fontSize(2em, 400);
                };
            };    
        };
    };
};

.gambling-information {
    display: flex;
    flex-direction: column;

    &__text {
        margin-top: 5px;
        font-size: 6px;

        text-align: center;

        @include media("tablet") {
            font-size: 8px;
        };

        @include media("desktop") {
            font-size: 10px;
        };

    };
    &__gambling-rules {
        width: 100%;
        margin-top: 20px;
        padding: 5px;
        
        @include border(1px);

    };
};