@import "./fonts";

.gambling {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: yellow;
    border: 1px solid black;
    border-radius: 25px;

    @include media("tablet") {
        width: max-content;
    }

    @include media("desktop") {
        width: max-content;
    }
    
    &__heading {
        margin-bottom: 50px;
        
        font-family: 'Bungee Spice', sans-serif;
        font-size: 80px;
        // align-self: flex-end;

        // @include media("tablet") {
        //     font-size: 60px;
        // };
        // @include media("desktop") {
        //     font-size: 80px;
        // };
        
    };
    &__table {
        width: max-content;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    };
};

.win-section {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;

    background-color: #C8C6C6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "header header header header"
    "table table table table";

    border: 3px solid black;
    border-radius: 25px;
    overflow: hidden;

    @include media("tablet") {
        width: 67%;
    };

    @include media("desktop") {
        width: 50%;
    };

    &__title {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;

        @include titleSize(2.5em, 700);    
    };

    &__table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
        grid-area: table;
        background-color: black;
        grid-gap: 1px;
    };
    
    &__number {
        position: relative;
        background-color: white;
        
        &-front,
        &-back {
            height: 100%;
            width: 100%;

            position: absolute;
        }
        
        &-front {
            z-index: 10;
            background-color: #C8C6C6;

        };

        &-back {
            z-index: 5;
            padding: 5px;
            background-color: #C8C6C6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            &-int {
                @include fontSize(3em, 700);    
            };
            
            &-string {
                display: none;

                @include media("tablet") {
                    display: block;
                    @include fontSize(1em, 400);    
                };

                @include media("desktop") {
                    @include fontSize(1em, 400);  
                };  
            };  
        };
    };
};
  
  
.game-section {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);
    background-color: black;
    gap: 1px;

    width: max-content;

    border: 3px solid black;
    border-radius: 30px;
    overflow: hidden;

    @include media("tablet") {
        grid-template-columns: repeat(4, 175px);
        grid-template-rows: repeat(3, 175px);   
    };

    @include media("desktop") {
        grid-template-columns: repeat(6, 200px);
        grid-template-rows: repeat(2, 200px); 
    };


    &__item {
        position: relative;
       
        background-color: #C8C6C6;
        color: black;
        
        &-front,
        &-back {
            position: absolute;
            height: 100%;
            width: 100%;
        };
        
        &-front {
            z-index: 10;
            background-color: #C8C6C6;
        };
        
        &-back {
            z-index: 5;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-color: #C8C6C6;


            &__number-int {
                @include fontSize(3em, 700);  
            };
        
            &__number-string,
            &__win-string {
                display: none;

                @include media("tablet") {
                    display: block;
                    @include fontSize(1em, 400);    
                };

                @include media("desktop") {
                    @include fontSize(1em, 400);  
                };  
            };
        
            &__win-int {
                @include fontSize(2em, 400);
            };    
        };
    };
};

.gambling-information {
    display: flex;
    flex-direction: column;

    &__text {
        margin-top: 5px;
        font-size: 6px;

        text-align: center;

        @include media("tablet") {
            font-size: 8px;
        };

        @include media("desktop") {
            font-size: 10px;
        };

    };
    &__gambling-rules {
        width: 100%;
        margin-top: 20px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
    };
};