@mixin media ($device){
    @if $device == 'mobile' {
      @media screen and (min-width: 500px){
          @content;
      };
    } @else if $device == 'tablet' {
        @media screen and (min-width: 800px) {
            @content;
        }
    } @else if $device == 'desktop' {
      @media screen and (min-width: 1600px){
          @content;
     };
    };
  };

@mixin fontSize($size, $weight) {
    font-size: $size;
    font-weight: $weight;
};

@mixin titleSize($size, $weight) {
    font-size: $size;
    font-weight: $weight;

    @include media("tablet") {
        font-size: calc($size / 1.2);
        font-weight: $weight;
    };

    @include media("desktop") {
        font-size: calc($size / 1.4);
        font-weight: $weight;
    };
};

  @mixin border($size) {
    border: $size solid black;
    border-radius: 30px;
    overflow: hidden;
  };

  @mixin btn($width) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $width;
    height: 50px;
    padding: 0 20px;

    border: 1px solid black;
    border-radius: 5px;

    font-size: 20px;

    span {
      padding-left: 15px;
    }; 
  };
