@mixin media ($device){

    @if $device == 'mobile' {
      @media screen and (min-width: 500px){
          @content;
      };
    } @else if $device == 'tablet' {
        @media screen and (min-width: 1000px) {
            @content;
        }
    } @else if $device == 'desktop' {
      @media screen and (min-width: 1600px){
          @content;
     };
    };
  };

  @mixin border($size) {
    border: $size solid black;
    border-radius: 30px;
    overflow: hidden;
  }
