// Styling header

h2 {
    font-size: 1em;
};

.user {
    width: 95vw;
    height: max-content;
    padding: 20px;

    display: flex;
    flex-direction: column;

    row-gap: 10px;

    @include titleSize(1.5rem, 700); 
    
    @include media("tablet") {
        padding: 15px;

        display: grid;
        grid-template-columns: repeat(2, minmax(40vw, 1fr));
        grid-template-rows: repeat(2, minmax(60px, 1fr));
        grid-template-areas:
            "welcome win"
            "btn-buy btn-payout"
        ;
        gap: 15px;
        
        @include titleSize(2rem, 700);
    };
    
    @include media("desktop") {
        width: 90vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        @include titleSize(2.5rem, 700);
    };  

    &__title-welcome {
        grid-area: welcome;
        
        @include media("tablet") {
            display: flex;
            align-items: center;
        };
        
        @include media("desktop") {
            justify-content: center;
            width: 25%;
        };
    };

    &__credit {
        grid-area: win;

        @include media("tablet") {
            display: flex;
            align-items: center;
        };

        @include media("desktop") {
            width: 25%;
        };
    };

    &__buyone,
    &__payout {
        width: 100%;
        height: 100%;

        @include media("tablet") {
            display: flex;
            justify-content: center;
            align-items: center;
        };

        @include media("desktop") {
            width: 25%;
        };
        
    };

    &__buyone-btn,
    &__payout-btn {
        @include btn(100%);
        justify-content: stretch;
        
        @include media("desktop") {
            @include btn(90%);
        };
    };
};

