@import "./colors";

.new-client,
.new-card {
    width: 100%;
    height: max-content;
    top: 10%;

    margin: 0 auto;
    border: 1px solid $light;
    padding: 30px 15px;

    background-image: $gradient;
    color: $light;
    
    @include media("tablet") {
        width: 60%;
        padding: 30px;
    };
    
    @include media("desktop") {
        width: 40%;
    };  

    &::backdrop {
        background: rgb(0 0 0 / .8);
    };

    &__emojis {
        display: flex;
        justify-content: center;

        width: 100%;
        margin-bottom: 30px;

        @include fontSize(30px, 900);
        color: black;

        @include media("tablet") {
            @include fontSize(50px, 900);
        };

    }

    &__title {
        display: flex;
        justify-content: center;

        @include fontSize(30px, 900);
        margin-bottom: 30px;
    };

    &__btn {
        margin: 0 auto;
        @include btn(200px);
    };
};

.new-card {
    &__emojis {
        justify-content: space-evenly;
        color: $light;
    }

    &__text {
        margin-bottom: 30px;

        @include fontSize(20px, 400);
    };

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media("tablet") {
            flex-direction: column;
        };
        
        @include media("desktop") {
            flex-direction: row;
            justify-content: space-around;
        };  
        
        &-yes,
        &-no {
            @include btn(100%);
            display: flex;
            justify-content: center;

            margin-top: 10px;

            @include media("tablet") {
                @include btn(300px);
            };
        };
    };
};

.yourdetails {
    width: 100%;
    @include fontSize(20px, 400);

    color: $light;

    &__yourname,
    &__yourcredit {
        display: flex;
        flex-direction: column;

        margin-bottom: 30px;

        @include media("tablet") {
            flex-direction: row;
        }; 

        &-label,
        &-input {
            display: block;
            width: 100%;

            @include media("tablet") {
                width: 50%;
            };
        };

        &-label {
            display: flex;
            align-items: center;
        }

        &-input {
            @include fontSize(20px, 400);
            margin-top: 5px;
            height: 50px;
            padding-left: 20px;
            border: 1px solid $light;
            border-radius: 5px;

            &::placeholder {
                color: white;
            };
        };
    };
};


.user {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;
    padding: 10px;

    @include fontSize(30px, 900);
    
    @include media("tablet") {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        grid-template-areas:
            "welcome win"
            "btn-buy btn-collect"
        ;
    };
    
    @include media("desktop") {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    };  

    &__title {
        width: 100%;

        @include media("tablet") {
        };

        @include media("desktop") {
            width: 25%;
        };

        &-welcome {
            grid-area: welcome;
            margin-bottom: 10px;
        }

        &-name {
        };
    };


    &__credit {
        width: 100%;
        grid-area: win;
        margin-bottom: 10px;

        &-text {};
        &-number {};

        @include media("tablet") {
        };

        @include media("desktop") {
            width: 25%;
        };
    };

    &__buyone,
    &__collect {
        width: 100%;
        height: 100%;

        margin-top: 15px;

        @include media("tablet") {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 0;
        };

        @include media("desktop") {
            width: 25%;
        };
        
    };

    &__buyone-btn,
    &__collect-btn {
        @include btn(100%);
        justify-content: stretch;  

        @include media("tablet") {
            @include btn(400px);
            justify-content: stretch;  
        };
    };
};
