.new-client,
.new-card {
    top: 20%;
    margin: 0 auto;

    border: 1px solid $bg-color-lightgray;

    padding: 30px 15px;
    width: 100%;
    height: max-content;

    background: linear-gradient(60deg, $green, $purple, $orange, $yellow);

    color: $bg-color-lightgray;
    
    @include media("tablet") {
        width: 60%;
        padding: 30px;
    };
    
    @include media("desktop") {
        width: 40%;
        padding: 30px;
    };  

    &::backdrop {
        background: rgb(0 0 0 / .8);
    };

    &__emojis {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        color: black;

        @include fontSize(30px, 900);

        @include media("tablet") {
            @include fontSize(50px, 900);
        };
        
        @include media("desktop") {
            @include fontSize(50px, 900);
        };  
    }

    &__title {
        @include fontSize(30px, 900);
        margin-bottom: 30px;
    };

    &__btn {
        margin: 0 auto;
        @include btn(200px);
    };
};

.new-card {
    &__emojis {
        justify-content: space-evenly;
        color: $bg-color-lightgray;
    }

    &__text {
        margin-bottom: 30px;

        @include fontSize(20px, 400);
    };

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media("tablet") {
            flex-direction: column;

        };
        
        @include media("desktop") {
            flex-direction: row;
            justify-content: space-around;
        };  
        
        &-yes,
        &-no {
            @include btn(100%);
            display: flex;
            justify-content: center;
            margin-top: 10px;

            @include media("tablet") {
                @include btn(300px);
                display: flex;
                justify-content: center;

            };
            
            @include media("desktop") {
                @include btn(300px);
                display: flex;
                justify-content: center;
            };  

        };
    };
};

.yourdetails {
    width: 100%;
    @include fontSize(20px, 400);

    color: $bg-color-lightgray;

    &__yourname,
    &__yourcredit {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        @include media("tablet") {
            flex-direction: row;
        };
        
        @include media("desktop") {
            flex-direction: row;
        };  
    

        &-label,
        &-input {
            display: block;
            width: 100%;

            @include media("tablet") {
                width: 50%;
            };
            
            @include media("desktop") {
                width: 50%;
            };  
        };

        &-label {
            display: flex;
            align-items: center;
        }

        &-input {
            @include fontSize(20px, 400);
            margin-top: 5px;
            height: 50px;
            padding-left: 20px;
        }
    };
};


.user {
    width: 100%;
    height: max-content;

    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, minmax(100%, 1fr));
    grid-template-areas:
    "welcome"
    "win"
    "btn-buy"
    "btn-collect"
;

    @include fontSize(30px, 900);
    
    @include media("tablet") {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        grid-template-areas:
            "welcome btn-buy"
            "win btn-collect"
        ;
    };
    
    @include media("desktop") {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        grid-template-areas:
            "welcome btn-buy"
            "win btn-collect"
        ; 
    };  

    &__title {
        width: 100%;

        &-welcome {
            grid-area: welcome;
            margin-bottom: 10px;
            background-color: red;
        }

        &-name {
        };
    };


    &__credit {
        grid-area: win;
        margin-bottom: 10px;

        background-color: green;

        &-text {};
        &-number {};
    };

    &__buyone{
        grid-area: btn-buy;
        width: 100%;
        margin-bottom: 10px;
        
        place-self: center;
    };

    &__collect{
        grid-area: btn-collect;
        width: 100%;

        place-self: center;
        background-color: blue;
    };


    &__buyone-btn,
    &__collect-btn {
        @include btn(100%);

        @include media("tablet") {
            @include btn(400px);

        };
        
        @include media("desktop") {
            @include btn(400px);
        };  
    };
};
